[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "jenkinsctl"
version = "0.0.1"
dependencies = ["api4jenkins", "dynaconf", "pyyaml"]
authors = [{ name = "Aman Shaw", email = "amanshaw4511@protonmail.com" }]
description = "Build jenkins job in simple command and config"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: GNU Lesser General Public License v3 (LGPLv3)",
  "Operating System :: OS Independent",
]

[project.urls]
Homepage = "https://github.com/amanshaw4511/jenkinsctl"
Issues = "https://github.com/amanshaw4511/jenkinsctl/issues"

[project.scripts]
jenkinsctl = "jenkinsctl.jenkins:get_args"

[tool.setuptools.packages.find]
where = [
  ".",
] # list of folders that contain the packages (["."] by default)
#include = [] # package names should match these glob patterns (["*"] by default)
exclude = [] # exclude packages matching these glob patterns (empty by default)
#namespaces = false # to disable scanning PEP 420 namespaces (true by default)
